{% extends "layout.html" %}
{% block content %}
    <table>
        <tr>
            <table>
                <th>
                    jobID
                </th>
                <th>
                    Name
                </th>
                <th>
                    round1
                </th>
                <th>
                    round2
                </th>
                <th>
                    round3
                </th>
        </tr>        
    </table>
{% endblock content %}

    