{% extends "layoutadm.html" %}
{% block content %}

<div style="position: relative;top:10px;" id="about" >
        
            <div>
                Job Description
                Roles and Responsibility: 
                <p>
                The role requires you to work alongside the Business, Product and Engineering team to create features and product enhancements that are easy to use and solve complex design issues.
                <p>
                1. Design seamless and pixel perfect User Interfaces for Web and Mobile Apps (iOS + Android) 
                </p>
                <p>
                2. Create, improve and use wireframes, user flows, style guides, prototypes and effectively communicate your interaction ideas using any of these methods. 
                </p>
                <p>
                3. Maintain design consistency across the products. 
                </p>
                <p>
                4. Collaborate with teams to efficiently deliver projects. 
                </p>
                </p>
            </div>
            <div> 
                Required Candidate profile
                
                Requirements : 
                <p>
                - 1-3 years of experience working on UX and UI projects 
                </p>
                <p>
                - Good knowledge and understanding of basic UX, UI and Design principles. 
                </p>
                <p>
                - Have empathy towards end user and have ability to advocate usability across platforms. 
                </p>
                <p>
                - Have very clear attention to details. 
                </p>
                <p>
                - Strong working knowledge of Sketch app is must. 
                </p>
                <p>
                Hands on experience of the following tools will be good to have : 
                
                - Photoshop 
                
                - Illustrator 
                
                - Zeplin 
                
                - Invision 
                
                - Knowledge of HTML and CSS is a big plus
                <br>Salary: Not Disclosed by Recruiter
                
                Industry:IT-Software, Software Services
                
                Functional Area:Design , Creative , User Experience
                
                Role Category:Creative
                
                Role:User Experience Designer
                
                Employment Type: Permanent Job, Full Time
                <br>
            </div>
</div>
<!--<table border =1 style="position: relative;left:300px;top:30px" class="table table-dark table-hover">
        <tr style="text-align: center">
                <th style="text-align: center;">Number of Applied</th>
        </tr>
    {% for ele in details %}
    <tr>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <td>{{ ele[0] }}</td>
    </tr>
    {% endfor %}
</table>-->

{% endblock content %}