<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/profP.css')}}">
<script src="bootstrap-notify.js"></script>
<script src="bootstrap-notify.min.js"></script>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ url_for('static',filename='css/profile-default.png')}}" alt=""/>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    
                    
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ url_for('adminHome') }}"><button type="button" id="home">Home</button></a>
                        <a href="{{ url_for('statEnt',canId=userDetails[0])}}"><button type="button" id="stata">Status Update</button></a>
                        <a href="{{ url_for('logoutcandid') }}"><button type="button">Logout</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p><b>SKILLS</b></p>
                            <p>{{ userDetails[8] }}</p>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="profile-work">
                                <p style="position: relative;top:-120px"><b>Status</b></p>
                                <table border =1 style="position: relative;left:20%;top:-420px">
                                        <tr style="text-align: center">
                                                <th>round1</th>
                                                <th>round2</th> 
                                                <th>round3</th>
                                                <th>round4</th>
                                                <th>hr</th>
                                                <th>os</th>
                                                <th>joined</th>
                                        </tr>
                                        <tr>
                                            {% for stat in statDetails[1:] %}
                                                <td>{{ stat }}</td>
                                            {% endfor %}
                                        </tr>
                                <br/>
                            </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ userDetails[0] }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ userDetails[1] }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ userDetails[2] }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ userDetails[4] }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Notice Period</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ userDetails[7] }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <label>Source</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{ userDetails[9] }}</p>
                                                </div>
                                        </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>
        <!--<script>
            
            $(document).ready(function(){
                    $.notifyDefaults({
                        type: 'success',
                        allow_dismiss: false
                    });
                    $.notify('logged out!');
                }
            );
        </script>-->